<div class="main">
    <div class="leftpannel">
        <app-sidebar></app-sidebar>
    </div>

    <div class="rightpannel">
        <div class="head1">
            <div class="subhead">
                <h1 class="msg">Hello {{title}}</h1>
                <img src=".\assets\dashboard\wavehand.png" alt="logo"><br>
            </div>
            <div class="subhead1">
                <h5>Let's check your stats today</h5>
            </div>
        </div>
        <div class="conatiner">
            <div class="conatiner1">
                <div class="card1">
                    <h1 class="dmsg">Total Session</h1>
                    <h2 class="dcount">{{totalsession}}</h2>
                    <h4 class="dlcount">{{dlcount}}</h4>
                </div>
                <div class="card2">
                    <h1>heloo</h1>
                </div>
            </div>
            <div class="conatiner1">
                <div class="card1">
                    <h1 class="dmsg">Total Visitors</h1>
                    <h2 class="dcount">{{totalsession}}</h2>
                    <h4 class="dlcount">{{dlcount}}</h4>
                </div>
                <div class="card2">
                    <h1>heloo</h1>
                </div>
            </div>
            <div class="conatiner2">
                <div class="card3">
                    <div class="card4">
                        <h1 class="dmsg">Avg Request Receive</h1>
                        <h2 class="dcount">{{totalsession}}</h2>
                        <h4 class="dlcount">{{dlcount}}</h4>
                    </div>
                    <div class="card5">
                        <h1>heloo</h1>
                    </div>
                </div>
                <div class="card3">
                    <div class="card4">
                        <h1 class="dmsg">Time Spent</h1>
                        <h2 class="dcount">{{totalsession}}</h2>
                        <h4 class="dlcount">{{dlcount}}</h4>
                    </div>
                    <div class="card5">
                        <h1>heloo</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>