<div class="main">
    <div class="leftpannel">
        <app-sidebar></app-sidebar>
    </div>
    <div class="rightpannel">
        <div class="head1">
            <div class="subhead">
                <h1 class="msg">Manage User</h1>
                <img src=".\assets\signup\icons8-admin-settings-male-48.png" alt="logo"><br>
            </div>
        </div>
        <div class="conatiner">
            <form [formGroup]="signUp">
                <div class="field1">
                    <div class="section">
                        <label>Enter Email Id</label><br>
                        <input class="secinput" type="email" formControlName="email">
                        <p class="alertmsg"
                            *ngIf="(signUp.controls['email'].touched || signUp.controls['email'].dirty) && signUp.controls['email'].invalid">
                            Email ID required !
                        </p>
                    </div>
                    <div class="section">
                        <label>Enter Password</label><br>
                        <input class="secinput" type="password" formControlName="userpassword">
                    </div>
                    <div class="section">
                        <button class="uploadbtn" [disabled]="!signUp.valid" (click)="signUpForm()">UPLOAD</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
