<h1 class="newshead">Nagpur Tehelka</h1>
<h4 class="mainmenuhead">Main Menu</h4>
<div class="btns">
    <ul>
        <div class="btn" [routerLinkActive]="'active'">
            <div class="image">
                <img src=".\assets\dashboard\codesandbox.png" alt="dashboardlogo">
            </div>
            <div class="buttons">
                <li><a [routerLinkActive]="'font-active'" routerLink="/dashboard">Dashboard</a></li>
            </div>
        </div>

        <div class="btn" [routerLinkActive]="'active'">
            <div class="image">
                <img src=".\assets\dashboard\uploadnews.png" alt="upnewslogo">
            </div>
            <div class="buttons">
                <li><a [routerLinkActive]="'font-active'" routerLink="/uploadnews">Upload News</a></li>
            </div>
        </div>
        <div class="btn" [routerLinkActive]="'active'">
            <div class="image">
                <img src=".\assets\dashboard\upnews.png" alt="upnewslogo">
            </div>
            <div class="buttons">
                <li><a [routerLinkActive]="'font-active'" routerLink="/upnews">Up News</a></li>
            </div>
        </div>
        <div class="btn" [routerLinkActive]="'active'">
            <div class="image">
                <img src=".\assets\dashboard\users.png" alt="muserslogo">
            </div>
            <div class="buttons">
                <li><a [routerLinkActive]="'font-active'" routerLink="/signup">Manage Users</a></li>
            </div>
        </div>
        <div class="btn" [routerLinkActive]="'active'">
            <div class="image">
                <img src=".\assets\dashboard\adminsetting.png" alt="reportlogo">
            </div>
            <div class="buttons">
                <li><a [routerLinkActive]="'font-active'" routerLink="dashboard">Admin</a></li>
            </div>
        </div>
        <div class="btn" [routerLinkActive]="'active'">
            <div class="image">
                <img src=".\assets\dashboard\logout.png" alt="logoutlogo">
            </div>
            <div class="buttons">
                <li><a [routerLinkActive]="'font-active'" routerLink="dashboard">Logout</a></li>
            </div>
        </div>
    </ul>
</div>

